<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vue Demo1</title>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
</head>
<body>
    <div id="vue1">
        {{ message }}
    </div>
    <div id="vue2">
        <span v-bind:title="message">Hover your mouse over me for a few seconds to see my dynamically bound title!</span>
    </div>
    <div id="vue3">
        <p v-if="see">You can see me.</p>
    </div>
    <div id="vue4">
        <ul>
            <li v-for="todo in todos">
                {{ todo.text }}
            </li>
        </ul>
    </div>
</body>
<script src="./demo1.js"></script>
</html>